{#
/**
 * @file pendaftaran.html.twig
 * Default theme implementation to present Pendaftaran data.
 *
 * This template is used when viewing Pendaftaran pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_pendaftaran()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('pendaftaran') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
